html {
   height: 100%;
   font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

input, textarea, select, option, button {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    color: #888;
}

a.active {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    width: 100px;
    margin-bottom: 0.5rem;
}

input, textarea, select, button {
    width: 350px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 0.5rem;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    background-color: lightskyblue;
    border-color: lightskyblue;
    cursor: pointer;
}

button:hover {
    background-color: rgb(164, 218, 251);
}


button:active {
    background-color: rgb(68, 178, 247);
}

h3 {
    margin: 0;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex-grow: 1;
    width: 250px;
    padding: 15px;
    box-shadow: 0 0 5px 0 #aaa;
    border-radius: 15px;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
}

.btn-wrapper button{
    width: 100px;
}

.danger {
    background-color: crimson;
    border-color: crimson;
}

.danger:hover {
    background-color: rgb(218, 79, 107);
}

.danger:active {
    background-color: rgb(220, 9, 51);
}




